* {
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(204, 102, 204);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-size: 2rem;
    padding: 2rem;
}
p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
button {
    font-family: 'Noto Color Emoji';
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: grey;
    border-radius: 0.3rem;
}

#container {
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
  
  #player-side {
    background-color: rgb(102, 102, 255);
  }
  
  #computer-side {
    background-color: rgb(255, 102, 102);
  }